<div class= "flex items-center justify-center">
<%= form_with(model: furniture_item) do |form| %>
  <% if furniture_item.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(furniture_item.errors.count, "error") %> prohibited this furniture_item from being saved:</h2>

      <ul>
        <% furniture_item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :material, style: "display: block" %>
    <%= form.text_field :material %>
  </div>

  <div>
    <%= form.label :image_url, style: "display: block" %>
    <%= form.text_field :image_url %>
  </div>

  <div class="mt-5 flex justify-center">
    <%= form.submit "Create New Furniture", class: "bg-yellow-500 text-white p-2 rounded cursor-pointer" %>
  </div>
<% end %>
</div>