<div class="flex flex-col items-center justify-center font-light text-3xl mb-16" id="<%= dom_id furniture_item %>">

  <div class= "mt-1">
    <span>Name:</span>
    <%= furniture_item.name %>
  </div>

  <div class= "mt-2 mb-5">
    <span>Material:</span>
    <%= furniture_item.material %>
  </div>

  <div class= "mt-2 mb-5 pl-8 pr-5 indent-8 italic">
    <span class="font-thin"><%= furniture_item.description %></span>
  </div>

  <div class= "mt-2 mb-5">
    <span>Price:</span>
    &#8369;<%= furniture_item.price %>
  </div>

</div>
