<div class = "containers flex flex-col items-center justify-center bg-slate-300 scroll-smooth">

<p style="color: green"><%= notice %></p>

<div  class=" flex flex-col items-center justify-center bg-slate-100 w-10/12 h-auto mt-20 mb-20 scroll-smooth">
<h1 class = "text-8xl mt-14 mb-2">IDEA</h1>
<h1 class = "text-s font-light">an IKEA rip-off blog</h1>
<%= link_to "Add a furniture", new_furniture_item_path, class: "bg-yellow-400 text-white p-2 rounded cursor-pointer mt-5 mb-16 transition-colors duration-300 ease-in-out hover:bg-blue-800" %>

<div class ="flex flex-col items-center justify-center mt-2" id="furniture_items">

  <% @furniture_items.each do |furniture_item| %>
    
    <% if furniture_item.image_url.present? %>
      <%= link_to furniture_item do %>
        <%= image_tag(furniture_item.image_url, class: "w-full h-full mb-5 rounded-xl snap-start scroll-smooth") %>
      <% end %>
    <% end %>

  <%= render furniture_item %>

  <% end %>
</div>
</div>

</div>
