<p style="color: green"><%= notice %></p>

<%= render @furniture_item %>

<p>
  <strong>Images:</strong>
  <%= image_tag(@furniture_item.image_url) if @furniture_item.image_url.present? %>
</p>


<div>
  <%= link_to "Edit this furniture item", edit_furniture_item_path(@furniture_item) %> |
  <%= link_to "Back to furniture items", furniture_items_path %>

  <%= button_to "Destroy this furniture item", @furniture_item, method: :delete %>
</div>
